@import url('https://fonts.googleapis.com/css?family=Ubuntu');
html{
    font-family: 'Ubuntu', sans-serif;
    background-color: #033b78;
}
body{
    margin-right: 9%;
    margin-left: 9%;
    background-color: #001429;
    box-shadow: 7px 0px 86px 3px rgba(0,0,0,0.7);
    padding-left: 11%;
    padding-right: 11%;
    padding-bottom: 3%;
    color: #dfecfb;
}
hr{
    background: rgb(255, 255, 255);
    border: none;
    color: rgb(255, 255, 255);
    height: 2px;
    width: 100%;
}
h1{
    margin: 0%;
}
.style1{
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 15%;
}
#tabellemod{
    border: solid 2px white;

}
td{
    border: solid 2px white;
}
tr{
    border: solid 2px white;
}
p{
    margin-top: 30px;
}
 img{
    box-shadow: 10px 9px 0px 0px rgba(17, 0, 255, 0.41);
 }