@import url('https://fonts.googleapis.com/css?family=Ubuntu');
html {
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
    background-color: #033b78;
    animation-name: example;
    animation-duration: 22s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        background-color: #033b78;
    }
    25% {
        background-color: rgb(5, 30, 145);
    }
    50% {
        background-color: rgb(9, 9, 53);
    }
    75% {
        background-color: rgb(2, 103, 110);
    }
    100% {
        background-color: #033b78;
    }
    
}
#index{
    background-color: #04aeda;
    color: white;
    float: right;
    position: fixed;
    margin: -2% 0% 0% 91%;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    width: 7%;
    text-align: center;
    border-radius: 50px;
    padding: 0.25% 0% 0.25% 0%;
}
#index:hover{
    background-color: #001429;
}
nav {
    display: flex;
    justify-content: center;
    margin: 0% 0% 9% 0%;
    background-color: #154271;
}

.hovernav {
    padding: 4% 0%;
    margin: 0px 30px;
}

.hovernav:hover {
    background-color: #00000023;
}

#titelbild {
    border-radius: 50px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    width: 5%;
    float: right;
    margin: 1% 0% 0% 1%;
    position: fixed;
}

#titelbild:hover {
    background-color: #001429;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

li {
    margin: 0px 50px;
    margin: 0px 5px;
}

header {
    box-shadow: 24px 16px 30px -1px rgba(0, 0, 0, 0.41);
}

a {
    text-decoration: none;
    color: #dfecfb;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
}

#titelh1 {
    display: flex;
    justify-content: center;
    margin-right: 0px;
    padding-top: 2%;
}

#titel {
    padding-bottom: 5%;
    background-color: #02254b;
}

body {
    color: #dfecfb;
}

#liststyle {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0%;
    padding: 0%;
}

main {
    margin-right: 9%;
    margin-left: 9%;
    background-color: #001429;
    box-shadow: 7px 0px 86px 3px rgba(0, 0, 0, 0.7);
    padding-left: 11%;
    padding-right: 11%;
    padding-bottom: 3%;
    color: #dfecfb;
}

hr {
    background: rgb(255, 255, 255);
    border: none;
    color: rgb(255, 255, 255);
    height: 2px;
    width: 100%;
}

h1 {
    margin: 0%;
    text-align: justify
}

h2 {
    font-size: 21px;
}

ul {
    text-align: justify;
}

.style1 {
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 15%;
}

td {
    border: solid 2px white;
}

p {
    margin-top: 30px;
    text-align: justify;
}

img {
    box-shadow: 10px 9px 0px 0px rgba(155, 155, 155, 0.719);
    width: 100%
}

.begriff {
    background-color: #154271;
    text-align: center;
}

.erklarung {
    background-color: #154271;
    text-align: center;
}

.herv {
    color: #00ff68;
    margin-top: -1%;
}
#mysql{
    width: 100%;
}
.link{
    color: #00ff68;
}
.innerjoin{
    width: 30%;
}










.index {
    background-color: #04aeda;
    color: white;
    padding: 12% 33% 12% 33%;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  }
  
  .dropdown {
    position: fixed;
    margin: -2% 11% 6% 92%;
    width: 5%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #04aeda;
    min-width: 160px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .index {
    background-color: #001429;
}



















@media screen and (max-width: 769px) {




    .index {
        background-color: #04aeda;
        color: white;
        padding: 12% 33% 12% 33%;
        font-size: 10px;
        border: none;
        cursor: pointer;
        border-radius: 25px;
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
      }
      
      .dropdown {
        position: fixed;
        margin: -7% 11% 6% 80%;
        width: 5%;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #04aeda;
        min-width: 160px;
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 10px;
      }
    
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .dropdown:hover .index {
        background-color: #001429;
    }
    




















































































    main {
        margin-right: -1%;
        margin-left: -1%;
        background-color: #001429;
        box-shadow: 7px 0px 86px 3px rgba(0, 0, 0, 0.7);
        padding-left: 22%;
        padding-right: 22%;
        padding-bottom: 3%;
        color: #dfecfb;
    }






















    #titelbild {
        border-radius: 50px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.75);
        width: 6%;
        float: right;
        margin: 1% 0% 0% 1%;
        position: fixed;
    }
    #titelbild:hover {
        background-color: #001429;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }
    a {
        text-decoration: none;
        color: #dfecfb;
        font-size: 14px;
        font-family: 'Ubuntu', sans-serif;
    }
    h1 {
        margin: 0%;
        text-align: left;
        font-size: 15px;
    }
    #titelh1 {
        display: flex;
        justify-content: center;
        margin-right: 0px;
        padding-top: 2%;
        font-size: 25px;
    }
    p {
        font-size: 10px;
        text-align: left;
    }
    h2 {
        font-size: 14px;
        text-align: center;
    }
    li {
        font-size: 10px;
        text-align: left;
    }
    td {
        border: solid 2px white;
        text-align: left;
        font-size: 10px;
    }
}